html, body {
  height: 100%;
  width: 100%;
}

body{
  background: url(https://api.popcat.xyz/blur?image=https://cdn.discordapp.com/attachments/1028972903947063386/1029349663138131990/fehf3n4t58091.png);
  background-size: cover;
}

#gsg{
  text-shadow: 0 0 5px white;
}

#pon{
  alight: center;
}

#g{
  text-shadow: 0 0 7px green
}

body{
  font: Nunito Sans;
  color: green;
  text-shadow: 0 0 7px green
}
